.chatInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #474b53;
  border-radius: 5px;
  margin: 20px;
  color: lightgray;

  form {
    flex-grow: 1;
    input {
      padding: 15px;
      background: transparent;
      border: none;
      outline: none;
      color: white;
      font-size: large;
      width: 100%;
    }
    .chatInputButton {
      display: none;
    }
  }

  .chatInputIcons {
    .MuiSvgIcon-root {
      padding: 5px;
    }
  }
}
