.sidebarFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #686a6e;
  margin-left: -3px;

  .sidebarAccount {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }

    .accountName {
      margin-left: 5px;

      h4 {
        color: white;
        font-weight: 500;
      }

      span {
        color: #686a6e;
      }
    }
  }

  .sidebarVoice {
    display: flex;
    align-items: center;
    color: #686a6e;
  }
}
