.sidebar {
  display: flex;
  flex: 0.3;
  height: 100vh;
  //   background-color: #33363d;

  .sidebarLeft {
    align-items: center;
    background: #1a1c20;
    padding: 7px 15px;

    .serverIcon {
      margin-top: 15px;
      width: 60px;
      height: 60px;
      background-color: #33363d;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;

      img {
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #2b2d33;
    width: 300px;
    position: relative;
    flex-grow: 1;

    .sidebarTop {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px;

      .sidebarChannelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        .sidebarHeader {
          display: flex;
        }

        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }
  }
}
