.sidebarChannel {
  padding-left: 20px;
  margin-top: 5px;

  h4 {
    color: #7b7c85;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #33363d;
      border-radius: 7px;
    }

    .sidebarChannelHash {
      font-size: 22px;
      padding-right: 10px;
    }
  }
}
